@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
body {
  padding: 0;
  margin: 0;
}

body * {
  font-family: "Rubik", sans-serif;
}

form {
  width: 100%;
}

.container {
  min-height: 100vh;
  display: flex;
}

a, a:visited {
  color: #474747;
}

.logo-circle {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background: #FDC830; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F37335, #FDC830); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
.logo-circle svg {
  width: 48px;
  height: 48px;
}

.left {
  display: none;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  max-width: 450px;
}
.right h1 {
  color: #474747;
  font-size: 42px;
}
.right p {
  color: #808097;
}

@media only screen and (min-width: 768px) {
  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    max-width: 850px;
    background: #FDC830; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgba(255, 255, 255, 0.8);
  }
  .left svg {
    width: 150px;
    height: 150px;
  }
  .left h1 {
    font-size: 30px;
    margin: 0;
  }
  .left h6 {
    font-size: 14px;
    margin: 10px 0;
    font-weight: 300;
  }
  .right {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media only screen and (min-width: 992px) {
  .right {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media only screen and (min-width: 1460px) {
  .right {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 992px) {
  .left h1 {
    font-size: 48px;
  }
  .left h6 {
    font-size: 18px;
    margin: 15px 0;
  }
}
@media only screen and (min-width: 1200px) {
  .left h1 {
    font-size: 50px;
  }
  .left h6 {
    font-size: 20px;
  }
}
.input-container {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  margin: 20px 0;
}
.input-container svg {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: color 200ms;
  color: #808097;
}
.input-container input {
  padding: 15px;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 5px;
}
.input-container input:focus {
  outline-color: cornflowerblue;
}
.input-container input:focus ~ label, .input-container input:not(:placeholder-shown) ~ label {
  transform: translateY(-24px) translateX(-8px) scale(0.8);
  background: white;
  padding: 0 5px;
}
.input-container input:focus ~ label, .input-container input:focus ~ svg {
  color: cornflowerblue;
}
.input-container label {
  display: block;
  transition: transform 200ms, color 200ms;
  position: absolute;
  top: 14px;
  left: 16px;
  color: #808097;
  font-size: 16px;
}

.form-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #474747;
}
.form-footer > div {
  display: flex;
  align-items: center;
  grid-area: 5px;
}
.form-footer input[type=checkbox] {
  width: 15px;
  height: 15px;
}
.form-footer label {
  cursor: pointer;
}

button {
  position: relative;
  overflow: hidden;
  background: #FDC830; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F37335, #FDC830); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  color: white;
  width: 100%;
  padding: 12px 0;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}
button svg {
  position: absolute;
  transition: transform 300ms;
  right: -100px;
}
button:hover svg {
  transform: translateX(-110px);
}

.bottom-line {
  margin: 20px;
  color: #808097;
}

/*# sourceMappingURL=style.css.map */
